body{
    margin: 0;
    background-color: rgb(255, 255, 255);
}
a, a:visited, a:hover, a:active {
    color: inherit;
    text-decoration: none;
}
@font-face {
    font-family: pokemonFont;
    src: url(pokemon_pixel_font.woff);
}
@font-face {
    font-family: displayPokemonFont;
    src: url(pressstart2.woff);
}
.navbar{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 5px;
    height: 40px;
    width: 100%;
    font-family: pokemonFont;
    font-size: 22px;
    font-weight: 500;
    border-bottom: solid;
}
.navbarHome, .navbarEnglish, .navbarJapanese{
    margin-right: 5px;
}
.navbarHome{
    margin-left: 5px;
}
.navbarHome:hover, .navbarEnglish:hover, .navbarJapanese:hover{
    color: red;
}
.homeTextContainer{
    display: flex;
    justify-content: center;
}
.homeText{
    font-family: pokemonFont;
    font-size: 23px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.homeLinks{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 25px;
}
.homeLink{
    margin-right: 5px;
    margin-left: 5px;
    height: 50px;
    transition: height 0.2s, width 0.2s;
    transition-timing-function: linear;
}
.homeLink:hover{
    height: 75px;
}
.homeImage{
    height: 100%;
}
.trainerGifContainer{
    display: flex;
    justify-content: center;
}
.trainerGif{
    height: 200px;
}
.searchContainer{
    display: flex;
    justify-content: center;
    align-items: center;
}
.pokeSearch{
    width: 500px;
    margin-bottom: 20px;
    font-family: pokemonFont;
    font-size: 22px;
}
.displayContainer{
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
    justify-items: center;
    font-family: displayPokemonFont;
    font-size: 22px;
    margin-bottom: 50px;
}
.japaneseDisclaimer{
    font-family: pokemonFont;
    font-size: 23px;
}
.pokemonDisplay{
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: solid;
    height: 25px;
    width: 600px;
}
.titles{
    display: flex;
    justify-content: center;
}
.pokemonNumber{
    width: 50px;
}
.pokemonName{
    width: 280px;
}
.ensLink, .osLink, .lrLink{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80px;
    color: black;
}
#tableENS:hover, #tableOS:hover, #tableLR:hover{
    color: black;
}

.ensLink:hover, .osLink:hover, .lrLink:hover{
    color: red;
}

.osAnchor, .ensAnchor, .lrAnchor{
    display: flex;
    justify-content: center;
    align-items: center;
}
.japaneseDisclaimer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.osImage{
    height: 18px;
    width: 18px;
    margin-right: 3px;
}

@media (orientation: portrait) and (max-width: 600px){
    .homeText{
        max-width: 300px;
    }
}